
.jQtooltip.mini {
	vertical-align:inherit;
    text-align: left;
    margin-left: 2px;
	-moz-border-radius: 2px;
}
.jQtooltip div {
	display: none;
	position: absolute;
	bottom: -1px;
	left: -1px;
	z-index: 1000;
	width: 190px;
	padding: 8px 12px;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
	color: #000;
	-webkit-box-shadow: 0 1px 3px #C4C4C4;
	-moz-box-shadow: 0 1px 3px #C4C4C4;
	box-shadow: 0 1px 3px #C4C4C4;
    border: 1px solid #DBB779;
	background: #FFF6BD;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
