.jQtooltip {
	color: #963;
	position: relative;
	cursor: help;
    border-bottom: 1px dotted;
}
.jQtooltip.mini {
	display: inline-block;
	vertical-align: bottom;
    font-size: 11px;
	width: 14px;
    line-height: 13px;
    text-align: center;
    margin-left: 2px;
	top: -2px;
	color: #9A4D18;
    border: 1px solid #FAD28F;
	background: #FFF6BD;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.jQtooltip div {
	display: none;
	position: absolute;
	bottom: -1px;
	left: -1px;
	z-index: 1000;
	width: 190px;
	padding: 8px 12px;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
	color: #000;
	-webkit-box-shadow: 0 1px 3px #C4C4C4;
	-moz-box-shadow: 0 1px 3px #C4C4C4;
	box-shadow: 0 1px 3px #C4C4C4;
    border: 1px solid #DBB779;
	background: #FFF6BD;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
